


* {
	margin:0px;
}
body {
	background: url(../img/MarvelTest.png) no-repeat top center fixed; background-size: 100% auto;
}

#ref {
	
	margin-top: 12%;
	margin-right: 7%
}

}
#coolclass {
	font-size: 14px;
	font-family: verdana
}
.correct {
color: green;

}

.incorrect {
	color: #fa0000;
	font-weight: bold
	
}

#correct  {
font-size:16px;
font-family: times;
float: left;
position: relative;
  bottom: 10px;
  left: 15px;
  font-family: 'Sansita One', cursive;
}

 #incorrect {
 font-size:16px;
font-family: times;
float: right;
 position: relative;
  bottom: 10px;
 right: 10px;
 font-family: 'Sansita One', cursive;
 }

#question0,  #question1, #question2, #question3, #question4, #question5{
	font-size: 14px;
	font-family: verdana
}

.round-button {
		display:block;
		width:100px;
		height:100px;
		border-radius:50px;
		font-size:20px;
		color:#fff;
		line-height:100px;
		text-shadow:0 1px 0 #666;
		text-align:center;
		text-decoration:none;
		box-shadow:1px 1px 2px #000;
		background:#cccbbb;opacity:0.95;
		position: fixed;
		top: 10px;
		left: 10px;
		float:left;
		}
.round-button:hover {
			color:#eee;
			text-shadow:0 0 1px #666;
			text-decoration:none;
			box-shadow:0 0 4px #222 inset;
			opacity:1
	}

.round-button2 {
		display:block;
		width:100px;
		height:100px;
		border-radius:50px;
		font-size:20px;
		color:#fff;
		line-height:100px;
		text-shadow:0 1px 0 #666;
		text-align:center;
		text-decoration:none;
		box-shadow:1px 1px 2px #000;
		background:#cccbbb;opacity:0.95;
		position: fixed;
		top: 10px;
	    right: 15px;
		float:right;
		}
.round-button2:hover {
			color:#eee;
			text-shadow:0 0 1px #666;
			text-decoration:none;
			box-shadow:0 0 4px #222 inset;
			opacity:1
	}
	div span {
		color: steelblue;
		font-weight:bold;
	}
	

@media screen and  (max-width: 992px) {

#middlizer {
	    padding-left: 300px;
	    width: 80%


		}
		.round-button2  {
			width: 77px;
    height: 87px;
		font-size:16px;
		top: 12px
		}
		.round-button {
		width: 77px;
    height: 87px;
		font-size:16px;
		top: 12px
	}	
	
}
@media screen and  (max-width: 900px) {


		.round-button2  {
			width: 100px;
          height: 100px;
		font-size:16px;
		top: 532px;
		left:30px;

		}
		.round-button {
		display: none
	}	
	
}

@media screen and  (max-width: 775px) {

body {
	background: url(../img/MarvelTest2.png) no-repeat top center fixed; background-size: 100% auto;

		}
	}

	@media screen and  (max-width: 665px) {


		#incorrect  {
		float: left;
		position: fixed;
		top: 484px;
        left: 12px;
	}	
	#correct {
		position: fixed;
		top: 464px;
        left: 12px;;
	}
	#middlizer {
		padding-left: 215px;

}

		.round-button2  {
			
		top: 361px

		}

    






